.header{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-self: center;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 1;
	background-color: #f0f0f0;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	
}
.logo-eagle{
	width:60px;
	height: 60px;
	margin:0 10px 0 0 ;
}
.nevzat{
	font-family: Sans-Serif;
	font-weight: 900;
}
.icon{
	margin:0 10px;
	font-size: 20px;
}
.basket-icon{
	margin-right:30px;
}