*{
  margin:0;
  padding:0;
  box-sizing:border-box;
}
body{
  background-color: rgb(41, 37, 41);
  color: aliceblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
form{
  width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50vh;
}
.input-wrapper{
  display: flex;
  flex-direction: column;
}
input{
  width: 100%;
  margin: 8px 0;
  padding: 12px 7.5px;
  outline: none;
  border-radius: 5px;
  border: none;
}
p{
	color: red;
	font-size: 12px;
}
label{
  font-size: 18px;
}
.checkbox-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
}
[type=checkbox]{
  width: 15px;
  height: 15px;
  margin: 0 10px 0 0;
}
button{
  width: 100%;
  padding: 12px 7.5px;
  border: none;
  border-radius: 5px;
  background-color: rgb(0, 0, 0);
  color: aliceblue;
  cursor: pointer;
  font-size: large;
  font-weight: 700;
  font-family: sans-serif;
}
@media only screen and (max-width: 600px){
	form{
		width: 300px;
		height: 60vh;
	}
	input{
		padding:9px 5px ;
	}
	button{
		padding:8px 4px ;
	}
	label{
  font-size: 14px;
}
}